.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  background-color: white;
  padding: 1rem 2rem;
  position: absolute;
  top: 30%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

form h1 {
  text-align: center;
}

form label {
  font-size: 14px;
  margin-bottom: 2px;
  display: block;
}

form input {
  padding: 8px;
  border-radius: 3px;
  outline: none;
  width: 18rem;
  border: 1px solid lightgray;
  background-color: whitesmoke;
}
.text-error {
  color: red;
}

.passwordError h6 {
  margin: 8px 0;
}
.passwordError span {
  display: block;
  font-size: 12px;
}

.passwordSpace {
  position: relative;
}

.eye {
  position: absolute;
  top: 16%;
  right: 7%;
  border: none;
  cursor: pointer;
  /* background-color: green; */
}
.eye svg {
  height: 1.2rem;
  position: absolute;
  color: gray;
}

form .submit_button {
  padding: 10px 4rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 3px;
  border: none;
  color: white;
  background: #1f2f98;
  cursor: pointer;
}

form .submit_button:disabled {
  cursor: not-allowed;
  background: lightgray;
}
