* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #2eaafa, #1f2f98);
}

main {
  margin-top: 6rem;
}
